In [5]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder


df = pd.read_csv('AWCustomers.csv')
print(df.head())
selected_columns = [
    'BirthDate', 'Gender', 'YearlyIncome', 'Occupation', 'MaritalStatus',
    'NumberChildrenAtHome', 'PostalCode',
    'NumberCarsOwned', 'TotalChildren','MiddleName'
]

df_selected = df[selected_columns]
print(df_selected.head())
df_selected['MiddleName'].fillna(df_selected['MiddleName'].mode()[0], inplace=True)
df_selected['YearlyIncome'] = df_selected['YearlyIncome'] / df_selected['YearlyIncome'].max()
df_selected['NumberCarsOwned'] = df_selected['NumberCarsOwned'] / df_selected['NumberCarsOwned'].max()

print(df_selected.head())
df_selected['BirthDate'] = pd.to_datetime(df_selected['BirthDate'])
df_selected['Age'] = (pd.Timestamp.now() - df_selected['BirthDate']).dt.days / 365.25
df_selected['Age'] = pd.cut(df_selected['Age'], bins=[0, 25, 40, 65, 100], labels=['Young', 'Adult', 'Middle Age', 'Senior'])
data = {
    'BirthDate': ['1990-05-14', '1985-07-22'],
    'Gender': ['M', 'F'],
    'YearlyIncome': [50000, 60000],
    'Occupation': ['Engineer', 'Doctor'],
    'MaritalStatus': ['Single', 'Married'],
    'NumberChildrenAtHome': [0, 2],
    'PostalCode': ['12345', '67890'],
    'NumberCarsOwned': [1, 2],
    'TotalChildren': [0, 2],
    'MiddleName': ['John', 'Doe']
}

df_selected = pd.DataFrame(data)
df_selected['BirthDate'] = pd.to_datetime(df_selected['BirthDate'])
df_selected['Age'] = (pd.Timestamp.now() - df_selected['BirthDate']).dt.days / 365.25
df_selected['Age'] = pd.cut(df_selected['Age'], bins=[0, 25, 40, 65, 100], labels=['Young', 'Adult', 'Middle Age', 'Senior'])
label_encoders = {}
for column in ['Gender', 'Occupation', 'MaritalStatus', 'PostalCode', 'MiddleName', 'Age']:
    le = LabelEncoder()
    df_selected[column] = le.fit_transform(df_selected[column])
    label_encoders[column] = le

# Convert 'BirthDate' to a numerical representation (days since a reference date)
# You can choose a reference date that makes sense for your data
reference_date = pd.Timestamp('1900-01-01')
df_selected['BirthDate'] = (df_selected['BirthDate'] - reference_date).dt.days

obj1 = df_selected.iloc[0]
obj2 = df_selected.iloc[1]
def simple_matching(obj1, obj2):
    same = (obj1 == obj2).sum()
    total = len(obj1)
    return same / total

smc = simple_matching(obj1, obj2)
print(f"Simple Matching Coefficient: {smc:.2f}")
def jaccard_similarity(obj1, obj2):
    set1 = set(obj1)
    set2 = set(obj2)
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    return intersection / union

jaccard_sim = jaccard_similarity(obj1, obj2)
print(f"Jaccard Similarity: {jaccard_sim:.2f}")

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]
    BirthDate Gender  YearlyIncome      Occupation MaritalStatus  \
0  1987-11-13      M         81916        Clerical             M
1  1972-07-21      M         81076        Clerical             M
2  1985-11-09      F         86387        Clerical             S
3  1977-10-18      M         61481  Skilled Manual             M
4  1975-02-05      M         51804  Skilled Manual             S

   NumberChildrenAtHome PostalCode  NumberCarsOwned  TotalChildren MiddleName
0                     0       2500                3              1          C
1                     1    V9B 2C3                2              2        NaN
2                     0      91791                3              0        NaN
3                     1     L4 4HB                2              2        NaN
4                     0      59368                1              0          J
    BirthDate Gender  YearlyIncome      Occupation MaritalStatus  \
0  1987-11-13      M      0.588837        Clerical             M
1  1972-07-21      M      0.582798        Clerical             M
2  1985-11-09      F      0.620975        Clerical             S
3  1977-10-18      M      0.441944  Skilled Manual             M
4  1975-02-05      M      0.372383  Skilled Manual             S

   NumberChildrenAtHome PostalCode  NumberCarsOwned  TotalChildren MiddleName
0                     0       2500              0.6              1          C
1                     1    V9B 2C3              0.4              2          A
2                     0      91791              0.6              0          A
3                     1     L4 4HB              0.4              2          A
4                     0      59368              0.2              0          J
Simple Matching Coefficient: 0.09
Jaccard Similarity: 0.29

<ipython-input-5-ad5e775d8039>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['MiddleName'].fillna(df_selected['MiddleName'].mode()[0], inplace=True)
<ipython-input-5-ad5e775d8039>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['YearlyIncome'] = df_selected['YearlyIncome'] / df_selected['YearlyIncome'].max()
<ipython-input-5-ad5e775d8039>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['NumberCarsOwned'] = df_selected['NumberCarsOwned'] / df_selected['NumberCarsOwned'].max()
<ipython-input-5-ad5e775d8039>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['BirthDate'] = pd.to_datetime(df_selected['BirthDate'])
<ipython-input-5-ad5e775d8039>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['Age'] = (pd.Timestamp.now() - df_selected['BirthDate']).dt.days / 365.25
<ipython-input-5-ad5e775d8039>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['Age'] = pd.cut(df_selected['Age'], bins=[0, 25, 40, 65, 100], labels=['Young', 'Adult', 'Middle Age', 'Senior'])